<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.agora.realtimemusicclass.piano">
    <application>
        <activity android:name=".PianoActivity"
            android:screenOrientation="portrait"/>
    </application>
</manifest>